# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/





# Temp files
temp/
*.tmp

# OS files
.DS_Store
Thumbs.db

# IDEs / editors
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Jupyter/IPython
.ipynb_checkpoints/

# Compiled C files
*.so


# Gitignore itself 
!.gitignore
*.zip
*.png
*.jpg
